<style>
    body{
      /* background-color: #E2EAEB; */
      background-color: #EDEFF0;
    }
  </style>
  
  <div class="container h-100">
    <div class="d-flex flex-column align-items-center justify-content-center mx-auto" style="height:75vh">
        
      <img src="/img/lingvolernado.png" class="img-fluid" width="40%">
      
      <% if(msg != ''){ %>
        <h1 style="color: #6C757D;" class="h4 my-4 fw-bold">
          <%= msg %>
        </h1>
      <% } %>

    </div>
  
  </div>