<div class="container mt-0 p-5">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-12 mx-auto">
        <div class="card border-0 shadow-sm rounded-3 bg-light">
          <div class="card-body p-4 p-sm-5">
  
            <h1 class="h2 fw-normal text-center mt-4">Jak chcesz powtarzać?</h1>
            <p class="lead fw-light text-center text-muted">Wybierz jedno z ośmiu ćwiczeń:</p>
            
            <div class="list-group my-4">
              <a href="/profil/wybierz-znaczenie-en" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-check2-square" viewBox="0 0 16 16">
                  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wybierz angielskie znaczenie</small></h5>
                    <p class="mb-0 text-muted">Należy wybrać angielskie znaczenie wyświetlanego polskiego słówka. </p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
              <a href="/profil/wybierz-znaczenie-pl" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-check2-square" viewBox="0 0 16 16">
                  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wybierz polskie znaczenie</small></h5>
                    <p class="mb-0 text-muted">Należy wybrać polskie znaczenie wyświetlanego angielskiego słówka. </p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
            </div>
            
            <div class="list-group my-4">
              <a href="/profil/wybierz-ze-sluchu-en" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-headphones" viewBox="0 0 16 16">
                  <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wybierz angielskie znaczenie ze słuchu</small></h5>
                    <p class="mb-0 text-muted">Odsłuchaj po polsku i wybierz angielskie znaczenie </p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
              <a href="/profil/wybierz-ze-sluchu-pl" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-headphones" viewBox="0 0 16 16">
                  <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wybierz polskie znaczenie ze słuchu</small></h5>
                    <p class="mb-0 text-muted">Odsłuchaj po angielsku i wybierz polskie znaczenie</p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
            </div>
            <div class="list-group my-4">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>    <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wpisz angielskie znaczenie</small></h5>
                    <p class="mb-0 text-muted">Przeczytaj po polsku i wpisz angielskie znaczenie </p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wpisz polskie znaczenie</small></h5>
                    <p class="mb-0 text-muted">Przeczytaj po angielsku i wpisz polskie znaczenie</p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
            </div>
            <div class="list-group my-4">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">    
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-music-note-list" viewBox="0 0 16 16">
                  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                  <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wpisz angielskie znaczenie ze słuchu</small></h5>
                    <p class="mb-0 text-muted">Odsłuchaj po polsku i wpisz angielskie znaczenie </p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#206BD2" class="bi bi-music-note-list" viewBox="0 0 16 16">
                  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                  <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="mb-0">Wpisz polskie znaczenie ze słuchu</small></h5>
                    <p class="mb-0 text-muted">Odsłuchaj po angielsku i wpisz polskie znaczenie</p>
                  </div>
                  <small class="opacity-50 text-nowrap">2 słówka</small>
                </div>
              </a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
  
  
  
  
  
    <!-- fill="#8A2BE2" -->
  
  <!-- <div class="list-group my-4">
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="headphones" class="svg-inline--fa fa-headphones fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Ze słuchu <small>(EN)</small></h5>
                <p class="mb-0 text-muted">Odsłuchaj po angielsku i wybierz polskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="headphones" class="svg-inline--fa fa-headphones fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Ze słuchu <small>(PL)</small></h5>
                <p class="mb-0 text-muted">Odsłuchaj po polsku i wybierz angielskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="pen-alt" class="svg-inline--fa fa-pen-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497.94 74.17l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.75 18.75-49.15 0-67.91zm-246.8-20.53c-15.62-15.62-40.94-15.62-56.56 0L75.8 172.43c-6.25 6.25-6.25 16.38 0 22.62l22.63 22.63c6.25 6.25 16.38 6.25 22.63 0l101.82-101.82 22.63 22.62L93.95 290.03A327.038 327.038 0 0 0 .17 485.11l-.03.23c-1.7 15.28 11.21 28.2 26.49 26.51a327.02 327.02 0 0 0 195.34-93.8l196.79-196.79-82.77-82.77-84.85-84.85z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Pisanie <small>(PL)</small></h5>
                <p class="mb-0 text-muted">Wpisz po polsku i wybierz angielskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="pen-alt" class="svg-inline--fa fa-pen-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497.94 74.17l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.75 18.75-49.15 0-67.91zm-246.8-20.53c-15.62-15.62-40.94-15.62-56.56 0L75.8 172.43c-6.25 6.25-6.25 16.38 0 22.62l22.63 22.63c6.25 6.25 16.38 6.25 22.63 0l101.82-101.82 22.63 22.62L93.95 290.03A327.038 327.038 0 0 0 .17 485.11l-.03.23c-1.7 15.28 11.21 28.2 26.49 26.51a327.02 327.02 0 0 0 195.34-93.8l196.79-196.79-82.77-82.77-84.85-84.85z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Pisanie <small>(EN)</small></h5>
                <p class="mb-0 text-muted">Odsłuchaj po polsku i wybierz angielskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="check-square" class="svg-inline--fa fa-check-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Wybierz <small>(EN)</small></h5>
                <p class="mb-0 text-muted">Wybierz angielskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <svg aria-hidden="true" width="32" height="32" focusable="false" data-prefix="fas" data-icon="check-square" class="svg-inline--fa fa-check-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path></svg>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h5 class="mb-0">Wybierz <small>(PL)</small></h5>
                <p class="mb-0 text-muted">Wybierz polskie znaczenie</p>
            </div>
            <small class="opacity-50 text-nowrap">2 słówka</small>
        </div>
    </a>
  
  </div> -->
  