<div class="container mt-0 p-5">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-12 mx-auto">
        <div class="card border-0 shadow-sm rounded-3 bg-white">
            <div class="card-body px-4 py-5 d-flex flex-column align-items-center justify-content-center">
              <p class="lead text-center">
                Nie masz wystarczającej liczby słówek, by móc rozpocząć to ćwiczenie
              </p>
              <a href="/profil/slowka" type="button" class="btn btn-outline-secondary px-4 fw-bold">
                Przejdź do swoich słówek
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>